* {
    box-sizing: border-box;
    font-family: 'Work Sans', sans-serif;
}
:root {
    --main-color : #0c2635;
    --second-color: #f8ce48;
    --third-color: rgb(38, 181, 206);
}
body {
    margin: 0;
    padding: 0;
}
ul {
    list-style: none;
    padding: 0;
}
*:focus {
    outline: none;
}
a {
    text-decoration: none;
}
ul {
    list-style: none;
    padding: 0;
}
.container {
    padding-left: 5px;
    padding-right: 5px;
    margin-left: auto;
    margin-right: auto;
}
/*small screen*/ 
@media(min-width:767px){
    .container{
        width: 750px;
    }
}
/*mediume screen*/ 
@media(min-width:991px){
    .container{
        width: 970px;
    }
}
/*large screen*/ 
@media(min-width:1200px){
    .container{
        width: 1250px;
    }
}
/* start header */
.header {
    position: fixed;
    top: 8%;
    left: 5%;  
    z-index: 1000; 
}
.header .container {
    display: flex;
    align-items: center;
    background-color: var(--main-color);
}
.header .logo {
    overflow: hidden;
    width: 100px;
    height: 50px;
    margin-left: -10px;
}
.header img {
    width: 100px;
    height: 50px;
}
.header .nav {
    display: flex;
    justify-content: space-around;
    color: white;
}
.header .nav li::before {
    content: '';
    position: absolute;
    width: 140%;
    height: 2px;
    left: -20%;
    bottom: -16px;
    background-color: transparent;
    transition: .5s;
}
.header .nav li:first-child::before {
    background-color: var(--second-color);
}
.header .nav li:first-child::first-letter {
    color: var(--second-color);
    transition: .6s;
    transition-delay: .6s;
}
.header .nav li:hover::before {
    background-color: var(--second-color);
}
.header .nav li a {
    color: white;
    transition: .5s;
    transition-delay: .6s;
}
.header .nav li {
    margin-left: 40px;
    position: relative;
    text-transform: capitalize;
    transition: .5s;
}
.header .info i {
    color: #285c74;
}
.header .info {
    display: flex;
    align-items: center;
    justify-content: space-around;
    width: 13%;
    font-weight: bold;
    color: white;
    margin-left: auto;
}
.header .container .main {
    flex-direction: column;
    display: flex;
    justify-content: space-between;
    position: relative;
    width: 35px;
    height: 25px;
    cursor: pointer;
    display: none;
}
.header .container .main span {
    width: 100%;
    height: 5px;
    border-radius: 3px;
    background-color: white;
    transition: transform .5s;
}

@media (max-width: 767px) {
    .header {
        position: fixed;
        width: 100%;
        top: 0;
        left: 0;
    }
    .header .info {
        display: none;
    }
    .header .container {
        justify-content: space-between;
    }
    .header .nav {
        position: absolute;
        flex-direction: column;
        top: 70%;
        left: -10%;
        width: 100%;
        transform-origin: center top;
        transition: .7s;
        transform: scaleY(0);
    }
    .header .nav li::before {
        display: none;
    }
    .header .nav li {
        width: 100vw;
        background-color: rgba(12, 38, 53, 0.795);
        padding: 20px 25px;
        cursor: pointer;
        transition: .5s;
        transition-delay: .6s;
        font-weight: 500;
    }
    .header .nav li:hover {
        background-color: #f8cf48a8;
    }
    .header .nav li:hover a ,
    .header .nav li:hover:first-child::first-letter {
        color: var(--main-color);

    }
    .header .nav li::after {
        background-color: var(--second-color);
        transform-origin: center left;
        position: absolute;
        content: '';
        width: 100%;
        height: 1px;
        transform: scalex(0);
        transition: .6s;
        bottom: 0;
        left: 0;
    }
    .header .nav li:hover::after {
        transform: scalex(1);
    }
    .header .container .main {
        display: flex;
        margin-right: 10px;
        
    }
    /* set burger menu  */
    .main span:first-child.open {
        transform: rotate(45deg) translateX(13px);
        background-color: var(--second-color);
        transition: .5s;
    }
    .main span:last-child.open {
        transform: rotate(-45deg) translateX(14px);
        background-color: var(--second-color);
        transition: .5s;
    }
    .main span:nth-child(2).open {
        display: none;
        transition: .5s;
    }
}
/* end header */
/* start landing */
.landing {
    height: 110vh;
}
.landing .container {
    display: flex;
    gap: 20px;
}
.landing .container .img {
    margin-left: -55px;
    width: 150%;
    height: 100vh;
    background-image: url(../img/1692555855818.jpg);
    background-position: top;
    background-size: cover;
    padding: 50px;
}
.landing .container .img h1 span {
    color: var(--main-color);
}
.landing .container .img h1 {
    color: white;
    position: relative;
    font-family: 'Work Sans', sans-serif;
    text-transform: capitalize;
    font-weight: 400;
    top: 50%;
    left: 50%;
    line-height: 1.1;
    transform: translate(-50% ,-50%);
    font-size: 70px;
}
.landing .container .img h1::before {
    content: '';
    position: absolute;
    width: 100%;
    height: 1px;
    background-color: white;
    bottom: -15px;
}
.landing .container .img h1::after {
    content: '';
    position: absolute;
    width: 13%;
    height: 3px;
    background-color: var(--second-color);
    bottom: -15px;
    left: 0;
}
.landing .container .img p {
    color: white;
    position: relative;
    top: 35%;
}
.landing .container ul {
    display: flex;
    flex-direction: column;
    text-align: left;
    margin-top: 10%;
}
.landing .container ul li {
    padding: 20px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}
.landing .container ul li p {
    width: 80%;
    font-size: 12px;
    margin-top: 15px;
    margin-bottom: 40px;
    line-height: 1.5;
    color: gray;
}
.landing .container ul li h2::after {
    content: '';
    position: absolute;
    width: 200px;
    height: 1px;
    background-color: rgb(168, 165, 165);
    bottom: -5px;
    left: 0;
}
.landing .container ul li h2::before {
    content: '';
    position: absolute;
    left: 0;
    bottom: -5px;
    width: 30%;
    height: 3px;
    background-color: var(--second-color);
}
.landing .container ul li h2 {
    position: relative;
    text-transform: capitalize;
    font-family: 'Work Sans', sans-serif;
    font-weight: 600;
    color: var(--main-color);
    margin: 0;
}
@media (max-width: 767px) {
    .landing  {
        height: fit-content;
    } 
    .landing .container {
        flex-direction: column;
    }
    .landing .container .img {
        margin-left: 0 !important;
        width: 100% !important;
        padding: 15px !important;
        height: 60vh;
    }
    .landing .container .img h1 {
        font-size: 45px;
        top: 60%;
    }
    .landing .container .img p {
        top: 50%;
        font-size: 10px;
        color: white;
    }
    .landing .container ul {
        text-align: center;
    }
    .landing .container ul li {
        align-items: center;
    }
    .landing .container ul li h2::after {
        width: 100%;
    }
    .landing .container ul li h2::before {

        left: 38%;
    }
}
/* end landing */
/* start intro */
.intro {
    height: 60vh;
    position: relative;
    overflow: hidden;
    margin-bottom: 60px;
}
.intro .container {
    display: flex;
    align-items: center;
    justify-content: space-around ;
    text-transform: capitalize;
    gap: 30px;
}
.intro .popup {
    position: absolute;
    text-align: center;
    padding: 50px;
    padding-bottom: 30px;
    z-index: 10;
    color: white;
    font-size: 19px;
    line-height: 1.5;
    font-weight: bold;
    text-transform: capitalize;
    background-color: var(--main-color);
    top: 50%;
    transform: translateY(-50%);
    display: flex;
    flex-direction: column;
    transform: translateY(-500%);
    transition: transform .5s;
}
.intro .popup span {
    padding: 10px 18px;
    font-size: 15px;
    background-color: var(--second-color);
    width: fit-content;
    margin: auto;
    margin-top: 10px;
    cursor: pointer;
}
.intro .container .img {
    width: 35%;
   display: flex;
   position: relative;
   justify-content: flex-end;
}
.intro .container .img::before {
    content: '';
    position: absolute;
    width: 225px;
    height: 300px;
    z-index: -1;
    right: 60px;
    top: 35px;
    background-color: #b6b7b8;
}
.intro .container .img img {
    width: 225px;
}
.intro .container .info {
    width: 70%;
}
.intro .container .info h1 {
    font-family: 'Work Sans', sans-serif;
    font-size: 40px;
    font-weight: 500;
    margin-top: 10px;
    margin-bottom: 10px;
    line-height: 1.2;
}
.intro .container .info p {
    width: 70%;
    font-size: 13px;
    line-height: 1.5;
    color: gray;
}
.intro .container .info h3 {
    padding: 10px 15px;
    margin-top: 20px;
    font-size: 17px;
    font-weight: 400;
    border: 1px solid gray;
    width: fit-content;
    cursor: pointer;
    transition: .5s;
}
.intro .container .info h3:hover {
    background-color: black;
    border: none;
    color: white;
}
.title {
    color: var(--third-color ) ;
    font-weight: bold;
    position: relative;
}
.title::after {
    content: '';
    position: absolute;
    bottom: -5px;
    width: 20px;
    height: 2px;
    left: 25px;
    border-radius: 10px;
    background-color: var(--second-color);
}
@media (max-width: 767px) {
    .intro {
        height: fit-content;
    } 
    .intro .popup {
        font-size: 15px;
        padding: 20px;
    }
    .intro .container {
        flex-direction: column-reverse;
    }
    .intro .container .info {
        width: 95%;
    }
    .intro .container .info h1 {
        font-size: 22px;
        line-height: 1.1;
    }
    .intro .container .info p {
        width: 80%;
        font-size: 10PX;
    }
    .intro .container .info h3 {
        font-size: 8px;
    }
    .intro .container .img {
        top: -30px;
        left: 130px;
    }
}
/* end intro */
/*start information*/
.information {
    height: 60vh;
    margin-bottom: 60px;
}
.information .container {
    display: flex;
    justify-content: space-around;
}
.information .box {
    width: 350px ;
    text-align: center;
    text-transform: capitalize;
    padding: 55px 0px;
    transition: .5s;
    cursor: pointer;
}
.information .box i {
    font-size: 40px;
}
.information .box i {
    color: var(--third-color);
}
.information .box h2 {
    font-weight: 500;
    position: relative;
}
.information .box h2::after,
.information .box h2::before {
    content: '';
    position: absolute;
    width: 40%;
    height:1px;
    left: 30%;
    bottom: -10px;
    background-color: #b6b7b8;
}
.information .box h2::before {
    width: 10%;
    left: 45%;
    height: 3px;
    border-radius: 15px;
    background-color: var(--second-color);
    bottom: -9px;
}
.information .box p {
    font-size: 12px;
    line-height: 1.4;
    width: 60%;
    margin: auto;
}
.information .mid {
    background-color: var(--main-color);
    color: white ;
}
.information .mid i {
    color: white;
}
.information .one:hover ,
.information .two:hover {
    background-color: var(--main-color);
    color: white;
}
.information .one:hover i,
.information .two:hover i {
    color: white;
}

@media (max-width: 767px) {
    .information {
        height: fit-content;
    }
    .information .container {
        flex-direction: column;
        align-items: center;
    }
    .information .box {
        margin-bottom: 20px;
    }
}
/*end information*/
/*start products*/
.products {
    height: 110vh;
    margin-bottom: 60px;
}
.products .container {
    display: flex;
    flex-direction: row;
}
.products .container .img {
    overflow: hidden;
}
.products .container .img img {
    width: 800px;
    height: 100%;
    right: 0;
    position: absolute;
}
.products .container .info {
    width: 39%;
    margin-top: 30px;
    text-transform: capitalize;
} 
.products .container .info h1 {
    font-weight: 400;
    font-size: 39px;
    letter-spacing: 0px;
}
.products .container .info p {
    font-size: 12px;
    color: hsl(210, 1%, 52%);
    line-height: 1.9;
    margin-bottom: 40px;
} 
.products .container .info img {
    width: 50px;
} 
.products .container .info .row1,
.products .container .info .row2 {
    margin: 20px;
    margin-bottom: 20px;
    display: flex;
    transform: translateX(30%);
    transition: transform .5s;
}
.products .container .info .row1 img ,
.products .container .info .row2 img {
    border-bottom: 2px solid var(--third-color);
    padding-bottom: 5px;
}
.products .container .info .row1 img:not(:first-child) {
    margin-left: 40px;
} 
.products .container .info .row2 img:not(:first-child) {
    margin-left: 40px;
}
.products .info .main-content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    margin: 0 0 20px 20%;
    width: 100%;
}
.products .container .info .icons {
    display: flex;
    flex-direction: column;
    justify-content: center;
    position: relative;
    align-items: center;
    overflow: hidden;
    width: 52%;

}
.products .control {
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding-left: 20px;
    width: 52%;
}
.products .control i {
    background-color: var(--third-color);
    color: white;
    width: 25px;
    height: 25px;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 15px;
    bottom: -10%;
    cursor: pointer;
}

@media (max-width: 767px) {
    .products {
        height: fit-content;
    }
    .products .container {
        flex-direction: column;
    }
    .products .container .info {
        margin: auto;
        width: 90%;
    }
    .products .container .img img {
        position: relative;
    }
    .products .container .info h1 {
        font-size: 25px;
    }
    .products .container .info p {
        font-size: 10px;
        line-height: 1.7;
    }
    .products .container .info .icons::before {
        right: 0;
    }
    .products .container .info .icons::after {
        left: 0;
    }
    .products .container .img img {
        width: 100%;
    }
    .products .container .title {
        margin-top: 20px;
    }
    .products .info .main-content {
        margin: 0 0 20px  20px;
        width: 150%;
    }
}
/*end products*/
/* start shop */
.shop {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-transform: capitalize;
    height: fit-content;
    margin-bottom: 60px;
}
.shop h1 {
    font-family: 'Work Sans', sans-serif;
    font-weight: 500;
    font-size: 40px;
}
.shop .title {
    font-size: 20px;
}
.shop .title::after {
    left: 12px;
}
.shop .container {
    display: flex;
    justify-content: center;
    gap: 4px;
    flex-wrap: wrap;
}
.shop .box {
    display: flex;
    flex-direction: column ;
    align-items: center;
    text-align: center;
    position: relative;
    width: 220px;
}
.shop .box img {
    width: 170px;
    height: 170px;
}
.shop .activ::before {
    content: '';
    position: absolute;
    width: 50px;
    height: 25px;
    background-color: var(--second-color );
    right: 30px;
    top: 10px;
    z-index: 10;
}
.shop .activ::after {
    content: 'selled';
    position: absolute;
    color: white;
    right: 36px;
    top: 15px;
    z-index: 20;
    font-size: 12px;
}
.shop .box p {
    width: 80%;
    margin: auto;
    font-size: 12px;
    color: #6a6c6d;
    line-height: 1.4;
    margin-bottom: 10px;
}
.shop .box span {
    font-size: 20px;
    color: var(--third-color);
    margin-bottom: 10px;
}
.shop .box h3 {
    font-size: 15px;
    color: var(--third-color);
    margin-bottom: 10px;
}
.shop .box input[type="button"] {
    color: white;
    background-color: var(--third-color);
    border: none;
    padding: 10px 15px;
    cursor: pointer;
    transition: .5s;
}
.shop .box input[type="button"]:hover {
    border: 1px solid var(--third-color);
    color: var(--third-color);
    background-color: white;
}
@media (max-width: 767px) {
    .shop {
        height: fit-content;
    }
    .shop h1 {
        font-size: 24px;
    }
    .shop .box {
        margin-bottom: 35px;
        width: 100%;
    }
    .shop .box p {
        width: 60%;
    }
    .shop .box span {
        font-size: 18px;
    }
    .shop .box img {
        width: 70%;
    }
}
/* end shop */
/* start testimonials */
.testimonials {
    height: fit-content;
    margin-bottom: 120px;
    background-image: url(../img/1692555855803.jpg); 
    background-repeat: no-repeat; 
    background-position: center;
    background-size: cover;
}
.testimonials .title {
    color: white;
}
.testimonials .container {
    background-color: var(--main-color);
    transform: translateY(80px);
    padding: 60px 20px;
    width: 70%;
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    position: relative;
}
.testimonials .container img {
    width: 50px;
    border-radius: 50%;
    margin: 5px;
}
.testimonials .container .imgs {
    position: relative;
    display: flex;
    align-items: center;
} 
.testimonials .container .imgs::before ,
.testimonials .container .imgs::after {
    content: '';
    position: absolute;
    width: 100%;
    height: 1px;
    background-color: white;
    border-radius: 100px;
    top: 50%;
    left: 110%;
} 
.testimonials .container .imgs::after {
    left: -110%;
}
.testimonials .container img:nth-child(2) {
    width: 70px;
}
.testimonials .container .title::after {
    width: 40px;
    left: 30%;
}
.testimonials .container p {
    width: 90%;
    font-size: 13px;
    color: #ffffff;
    line-height: 1.9;
    margin: 40px 0;
    font-weight: normal;
    text-transform: capitalize;
}
@media (max-width: 767px) {
    .testimonials {
        height: 50vh;
    }
    .testimonials .container {
        transform: translateY(60px);
        padding: 41px 1px;
        width: 90%;
    }
    .testimonials .container p {
        width: 90%;
        font-size: 11px;
        margin: 20px ;
    }
    .testimonials .container img:nth-child(2) {
        width: 60px;
    }
    .testimonials .container img {
        width: 40px;
    }
    .testimonials .container .imgs::before {
        width: 44%;
        left: 106%;
    }
    .testimonials .container .imgs::after {
        left: -49%;
        width: 75px;
    }
}
/* end testimonials */
/* start archive */
.archive {
    display: flex ;
    flex-direction: column;
    align-items: center;
    margin-top: 40px;
    text-transform: capitalize;
    height: 90vh;
    margin-bottom: 60px;
}
.archive .title::after {
    left: 30%;
}
.archive h1 {
    font-weight: 400;
    font-size: 40px;
    margin-top: 10px;
}
.archive .container {
    display: flex;
    justify-content: center;
}
.archive .container .box img {
    width: 80%;
    height: 175px;
}
.archive .container .box {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 500px;
    position: relative;
    overflow: hidden;
}
.archive .container .box .info-drub {
    position: absolute;
    padding: 20px;
    width: 80% ;
    height: 100%;
    background-color: var(--third-color);
    color: white;
    font-size: 18px;
    font-weight: 400;
    line-height: 1.5;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
    transform: translateY(-200%);
    transition: transform .5s;
}
.archive .container .box .info-drub p {
    text-align: left;
}
.archive .container .box .info-drub span {
    padding: 10px 20px;
    background-color: var(--second-color);
    text-align: center;
    display: flex;
    justify-content: center;
    width: fit-content;
    margin: auto;
    font-size: 12px;
    border-radius: 10px;
    cursor: pointer;
}
.archive .container .box .info {
    text-align: center;
    padding: 10px;
    padding-top: 0;
    width: 80%;
}
.archive .container .box .info h3 {
    font-size: 10px;
    margin-top: 20px;
    color: var(--third-color);
}
.archive .container .box .info h2 {
    font-weight: 500;
    border-bottom: 1px solid grey;
    padding: 0 0 10px 0 ;
    margin: 0 0 10px 0 ;
}
.archive .container .box .info p {
    font-size: 12px;
    color: #6a6c6d;
    line-height: 1.5;
    margin-top: 0px;
}
.archive .box .info input[type="button"] {
    background-color: var(--third-color);
    border: none;
    color: white;
    padding: 10px 15px;
    margin-top: 10px;
    cursor: pointer;
    font-size: 12px;
    transition: .5s;
}
.archive .box .info input[type="button"]:hover {
    background-color: white;
    color: var(--third-color);
    border: 1px solid var(--third-color);
}
@media (max-width: 767px ){
    .archive {
        height: fit-content;
    }
    .archive .container {
        flex-direction: column;
        align-items: center;
        justify-content: center;
        width: 100%;
    }
    .archive .container .box {
        width: 400px;
        margin-bottom: 20px;
    }
    .archive h1 {
        font-size: 30px;
    }
}
/* end archive */
/* start contacet */
.contact {
    height: fit-content;
    margin-bottom: 60px;
}
.contact .container {
    display: flex;
    flex-direction: row-reverse;
    justify-content: space-around;
    text-transform: capitalize;
}
.contact .container .img img {
    width: 500px;
    height: 400px;
    margin: auto;
}
.contact .img {
    position: relative;
}
.contact .container .img::before {
    content: '';
    position: absolute;
    width: 300px;
    height: 400px;
    z-index: -5;
    background-color: rgb(179, 205, 230 , 45%);
    right: -30px;
    bottom: -30px;
}
.contact .container .info .title::after {
    left: 0;
}
.contact .container .info  {
    width: 50%;
}
.contact .container .info h1 {
    font-weight: 500;
    font-size: 40px;
}
.contact .container .info p {
    font-size: 13px;
    color: #6a6c6d;
    width: 100%;
    line-height: 1.9;
}
.contact .container .info ul li {
    display: flex;
    align-items: center; 
    margin-bottom: -10px;
}
.contact .container .info ul li i {
    color: var(--third-color);
}
.contact .container .info ul li p {
    margin-left: 10px;
    color: #0c2635;
}
@media (max-width:767px) {
    .contact .container {
        flex-direction: column-reverse;
        position: relative;
        margin-left: 10px;
    }
    .contact .container .info ul li p {
        font-size: 10px;
        margin-left: 3px;
    }
    .contact .container .info ul li i {
        font-size: 12px;
    }
    .contact .container .img::before {
        right: 16px;
        bottom: -17px;
    }
    .contact .container .info h1 {
        font-size: 30px;
    }
    .contact .container .info {
        width: 100%;
    }
    .contact {
        height: 65vh;
    }
    .contact .container .img img {
        width: 200px;
        height: 200px;
    }
    .contact .container .img::before {
        width: 200px;
        height: 200px
    }
    .contact .img {
        position: absolute;
        left: 45%;
        bottom: -24%;
    }
}
/* end contacet */
/* start project */
.project {
    height: 80vh;
    overflow: hidden;
    padding-top: 60px;
}
.project::-webkit-scrollbar {
    display: none;
}
.project .container {
    display: flex;
    height: 100%;
    width: 300%;
    gap: 20px;
    cursor: grab;
    animation: mov 20s linear infinite;
    animation-direction: alternate-reverse;
}
@keyframes mov {
    0% {
        transform: translateX(0);
    }
    5% {
        transform: translateX(0);
    }
    10% {
        transform: translateX(0);
    }
    15% {
        transform: translateX(0);
    }
    20% {
        transform: translateX(-500px);
    }
    25% {
        transform: translateX(-500px);
    }
    30% {
        transform: translateX(-500px);
    }
    35% {
        transform: translateX(-500px);
    }
    40% {
        transform: translateX(-1100px);
    }
    45% {
        transform: translateX(-1100px);
    }
    50% {
        transform: translateX(-1100px);
    }
    55% {
        transform: translateX(-1100px);
    }
    60% {
        transform: translateX(-1600px);
    }
    65% {
        transform: translateX(-1600px);
    }
    70% {
        transform: translateX(-1600px);
    }
    75% {
        transform: translateX(-1600px);
    }
    80% {
        transform: translateX(-2200px);
    }
    85% {
        transform: translateX(-2200px);
    }
    90% {
        transform: translateX(-2200px);
    }
    98% {
        transform: translateX(-2500px);
    }
    99% {
        transform: translateX(-2500px);
    }
    100% {
        transform: translateX(-2500px);
    }
}
.project .container .two {
    background-image: url(../img/pexels-files-1648776.jpg);
}
.project .container .three {
    background-image: url(../img/1692555855785.jpg);
}
.project .container .four {
    background-image: url(../img/1692555855827.jpg);
}
.project .container .one {
    background-image: url(../img/pexels-max-rahubovskiy-6297091.jpg);
}
.project .container .five {
    background-image: url(../img/pexels-vecislavas-popa-1571463.jpg);
}
.project .box {
    height: 90%;
    width: 700px;
    text-transform: capitalize;
    background-image: url(../img/1692555855852.jpg);
    -webkit-background-origin: border-box;
    background-repeat: no-repeat;
    background-size: cover;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    align-items: flex-start;
    padding: 20px;
}
.project .box p {
    font-size: 13px;
    color: white ;
    line-height: 1.9;
    margin-bottom: 10px;
}
.project .box h2 {
    font-weight: 400;
    font-size: 40px;
    margin-bottom: 10px;
    color: white;
    position: relative;
}
.project .box h2::before {
    content: '';
    position: absolute;
    background-color: white;
    width: 100%;
    height: 1px;
    bottom: -10px;
    left: 0;
}
.project .box h2::after {
    content: '';
    position: absolute;
    width: 10%;
    height: 3px;
    border-radius: 10px;
    bottom: -10px;
    left: 0;
    background-color: var(--second-color);
}
@media(max-width:767px) {
    .project .container {
        width: 600%
    }
    .project {
        height: 80vh;
    }
    .project .box {
        height: 50%;
        width: 100%;
    }
    .project .box {
        padding: 5px;
    }
    .project .box h2 {
        font-size: 18px;
    }
    .project .box p {
        font-size: 1px;
        line-height: 1;
    }
    @keyframes mov {
        0% {
            transform: translateX(0);
        }
        5% {
            transform: translateX(0);
        }
        10% {
            transform: translateX(0);
        }
        15% {
            transform: translateX(0);
        }
        20% {
            transform: translateX(-380px);
        }
        25% {
            transform: translateX(-380px);
        }
        30% {
            transform: translateX(-380px);
        }
        35% {
            transform: translateX(-380px);
        }
        40% {
            transform: translateX(-770px); 
        }
        45% {
            transform: translateX(-770px); 
        }
        50% {
            transform: translateX(-770px); 
        }
        55% {
            transform: translateX(-770px); 
        }
        60% {
            transform: translateX(-1170px); 
        }
        65% {
            transform: translateX(-1170px); 
        }
        70% {
            transform: translateX(-1170px); 
        }
        75% {
            transform: translateX(-1170px); 
        }
        80% {
            transform: translateX(-1570px); 
        }
        85% {
            transform: translateX(-1570px); 
        }
        90% {
            transform: translateX(-1570px); 
        }
        95% {
            transform: translateX(-1570px); 
        }
        96% {
            transform: translateX(-1970px); 
        }
        97% {
            transform: translateX(-1970px); 
        }
        98% {
            transform: translateX(-1970px); 
        }
        99% {
            transform: translateX(-1970px); 
        }
        100% {
            transform: translateX(-1970px); 
        }
    }
}
/* end project */
/*start footer */
.footer {
    height: 30vh;
    text-transform: capitalize;
}
.footer .container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.footer .info {
    text-align: center;
    background-color: var(--main-color);
    padding: 20px;
    color: white;
    font-size: 10px;
}
.footer .info span {
    color: var(--second-color);
}
.footer .container .logo {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-left: -60px;
}
.footer .container .logo img {
    width: 200px;
}
.footer .container .logo .email {
    text-align: right;
}
.footer .container .logo .email p ,
.footer .container .logo .number p {
    font-size: 12px;
}
.footer .container .logo .email h3,
.footer .container .logo .number h3  {
    font-size: 14px;
    color: var(--third-color);
}
.footer .container .logo .number {
    text-align: left;
}
.footer .container ul {
    display: flex;
    position: relative;
    margin-bottom: 80px;
}   
.footer .container ul::before {
    content: '';
    position: absolute;
    width: 100%;
    height: 1px;
    background-color: #7b7d7e;
    left: -120%;    
    top: 50%;
}
.footer .container ul::after {
    content: '';
    position: absolute;
    width: 100%;
    height: 1px;
    background-color: #7b7d7e;
    left: 120%;    
    top: 50%;
}
.footer .container ul li {
    margin-left: 10px;
    cursor: pointer;
}
.footer .container ul li:nth-child(1) i:hover {
    color: white;
    background-color: blue;
}
.footer .container ul li:nth-child(2) i:hover {
    color: white;
    background-color: rgb(0, 195, 255);
}
.footer .container ul li:nth-child(3) i:hover {
    color: white;
    background-color: rgb(255, 238, 0);
}
.footer .container ul li:nth-child(4) i:hover {
    color: white;
    background-color: rgb(255, 0, 0);
}
.footer .container ul li i{
    color: #7b7d7e;
    background-color: #c1c5c7;
    transition: .5s;
    padding: 20px;
}
@media(max-width: 767px) {
    .footer {
        height: 25vh;
        margin-top: -210px;
    }
    .footer .container .logo {
        margin-left: -50px;
    }
    .footer .container .logo img {
        width: 150px;
    }
    .footer .container .logo .email h3, 
    .footer .container .logo .number h3 {
        font-size: 10px;
    }
    .footer .container .logo .email p, .footer .container .logo .number p {
        font-size: 10px;
    }
    .footer .container ul {
        margin-bottom: 25px;
    }
    .footer .container ul li i {
        padding: 10px;
    }
    .footer .container ul::before {
        width: 53%;
        left: -98px;
    }
    .footer .container ul::after {
        width: 53%;
        left: 187px; 
    }
}
/*end footer */




